numpy>=1.21.2
Cython!=0.29.18,!=0.29.31
setuptools>=58
wheel
packaging>=17.1

pandas>=1.3
scikit-learn>=0.22
scipy>=1.3.2
statsmodels>=0.13.2
urllib3

# Versi stabil pmdarima (prebuilt wheel, aman untuk deploy)
pmdarima==1.8.5

# App dependencies
streamlit
streamlit-option-menu
matplotlib
seaborn
plotly
yfinance
alpha_vantage
